*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.app-container {
  position: relative;
  background-color: rgb(39, 29, 63);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game-container {
  background-color: rgb(73, 56, 105);
  border-radius: 10px;
  width: 70vh;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
}

.game-container > .snakeHead {
  z-index: 10;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 300ms;
}

.game-container > .snakeTail {
  background-color: rgb(15, 4, 36);
  border-radius: 10px;
  margin: 1px;
  transition: 300ms;
}

.game-container > .apple {
  background-color: rgb(255, 51, 0);
  border-radius: 15px;
  transition: 300ms;
  margin: 1px;
}

.gameOverContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
}
.scoreboard {
  position: absolute;
  transform: translateX(0%);
  top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}
.scoreboard > .currentScore {
  margin-inline: 2rem;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.gameover {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(29, 16, 53, 0.575);
  border-radius: 10px;
  width: 70vh;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-weight: 700;
  color: rgb(51, 14, 77);
  background-color: rgb(117, 149, 255);
  border-radius: 10px;
  border: none;
  padding: 0.7em 1.1em;
  margin-top: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(82, 74, 197);
}
